body {
  margin: 0;
  padding: 0;
  background-color: #09122c;
}

.text {
  color: #eee;
}

.link {
  padding: 5px;
  text-decoration: none;
  border: 2px solid #eee;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.navigation {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #132866;
}

.navigation_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: auto;
}

.filter_wrapper {
  background-color: #132866;
  margin: 5em 5%;
  height: 100px;
  padding: 15px;
  border-radius: 5px;
}

.content_wrapper {
  border-radius: 5px;
  margin: 2em 5%;
  background-color: #132866;
  height: auto;
  padding: 15px;
}

h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.ordered_list > li {
  list-style-type: decimal;
}

p {
  padding: 10px;
}

#january, #february, #march {
  display: none;
}